<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{js/pin.js}"></script>
    <title>second Auth</title>
</head>
<body>
    <div class="container">

        <div class="form-group">
            <input type="text" class="form-control" id="messengerId" name="messengerId" placeholder="이메일 ID를 입력하세요." required>
        </div>
        <div>
            <button id="pin-generator" type="submit" onclick="generatePin()" class="submit-button">pin 발급</button>
        </div>

        <div>
            <label for="timer">남은 시간:</label>
            <input id="timer" type="text" value="" readonly/>
        </div>

        <form th:action="@{/login}" class="form-signin" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="pin" name="password" placeholder="발급된 pin을 입력하세요." required>
            </div>
            <button type="submit" class="submit-button">pin 인증</button>
        </form>
    </div>
</body>
</html>